* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 20vh auto 0 auto;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#display {
    text-align: right;
    height: 100px;
    line-height: 100px;
    padding: 16px 8px;
    margin-bottom: 1.5rem;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: white;
}

.button:hover {
    background-color: rgb(136, 204, 136);
    color: white;
    transition: 0.3s ease-in-out;
}

#equal {
    background-color: rgb(206, 108, 108);
}

#equal:hover {
    background-color: rgb(197, 44, 44);
}