/* RESETS */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

body {
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.718), #8dffaa6e);
}

/* Main Contents */
.calculator-grid {
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
   cursor: pointer;
   font-size: 2rem;
   border: 2px solid rgb(255, 255, 255);
   outline: none;
   background-color: rgb(230, 230, 230);
   transition: 0.3s ease-in-out;
}

.calculator-grid > button:hover {
   background-color: rgba(255, 255, 255, 255);
   color: rgb(209, 109, 109);
   
}

.display-screen {
   grid-column: 1 / -1;
   background-color: rgba(0, 0, 0, .75);
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   flex-direction: column;
   padding: 10px;
   word-wrap: break-word;
   word-break: break-all;
}

.display-screen .display-previous {
   color: rgba(255, 255, 255, .75);
   font-size: 1.5rem;
}

.display-screen .display-current {
   color: white;
   font-size: 2rem;
} 

.span-two {
   grid-column: span 2;
}

#clear-btn {
   color: white;
   background-color: rgb(228, 88, 88);
}

#clear-btn:hover {
   color: white;
   background-color: rgb(241, 126, 126);
}

#equals-btn {
   color: white;
   background-color: rgba(28, 168, 75, 0.75);
}

#equals-btn:hover {
   color: white;
   background-color: rgba(101, 221, 141, 0.75);
}

.calculator-grid .operator-btn {
   background-color: rgb(112, 112, 112);
   color: white;
}