* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 20vh auto 0 auto;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#display {
    text-align: right;
    height: 100px;
    line-height: 100px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 2px solid rgb(173, 173, 173);
}

.button {
    border: 1px solid rgb(173, 173, 173);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(78, 78, 78);
    color: white;
    transition: 0.3s ease-in-out;
}

#equal {
    background-color: rgb(145, 202, 145);
}

#equal:hover {
    background-color: rgb(104, 170, 104);
}